.login{
    height: 70%;
    width: 30%;
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0.126);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.loginText{
    width: 100%;
    height: 20%;
    font-size: 2rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
}
.loginForm{
    display: flex;
    flex-direction: column;
    height: 65%;
    width: 75%;
}
.loginFormInput2{
    margin-top: 2rem;
    padding: .7rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.523);
    
}
.loginFormInput1{
    border-radius: 5px;
    padding: .7rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.523);
    
}
.password{
    text-align: center;
    color: white;
    margin-top: 1rem;
    cursor: pointer;
}
.buttonBox{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}
.button{
    width: 40%;
    height: 7vh;
    background-color: rgba(255, 255, 255, 0.491);
    border: none;
    border-radius: 6px;
    cursor: pointer;

}